<!-- include links to profile, logout, notifications -->
<nav>
  <ul>
    <li><a href="/">login</a></li>
    <li><a href="/feed">feed</a></li>
    <li><a href="/profile">profile</a></li>
  </ul>
</nav>
